@charset "UTF-8";
:root {
  --mainPurple: #150e28;
  --lightPurple: #903aff;
  --lailacPurple: #d434fe;
}

@font-face {
  font-family: "ClashDisplayBold";
  src: url("/public/classDisplayFont/OTF/ClashDisplay-Bold.otf");
}
@font-face {
  font-family: "ClashDisplaySemiBold";
  src: url("/public/classDisplayFont/OTF/ClashDisplay-Semibold.otf");
}
@font-face {
  font-family: "ClashDisplayregular";
  src: url("/public/classDisplayFont/OTF/ClashDisplay-Regular.otf");
}
.register-page {
  width: 100%;
  min-height: 982px;
  padding: 30px 128px;
  position: relative;
  overflow-x: hidden;
}
.register-page .toplensflare {
  position: absolute;
  top: 10%;
  left: -10%;
  z-index: -1;
}
.register-page .bottomlensflare {
  position: absolute;
  bottom: -20%;
  right: -10%;
  z-index: -1;
}
.register-page .registerlailacstar {
  z-index: -1;
}
.register-page .modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  background-color: rgba(21, 14, 40, 0.9019607843);
}
.register-page main {
  display: flex;
  margin-top: 68px;
  align-items: center;
  gap: 100px;
}
.register-page main .left {
  flex: 2;
}
.register-page main .left img {
  width: 100%;
  height: auto;
}
.register-page main .right {
  flex: 3;
}
.register-page main .right form {
  width: 100%;
  z-index: 2;
  padding: 50px 60px;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  gap: 29px;
  color: white;
}
.register-page main .right form h3 {
  font-family: ClashDisplayRegular;
  font-size: 32px;
  color: var(--lailacPurple);
}
.register-page main .right form .header {
  display: flex;
  flex-direction: column;
  row-gap: 9px;
}
.register-page main .right form .header h2 {
  color: white;
  font-weight: 300;
}
.register-page main .right form .form-row {
  display: flex;
  width: inherit;
  gap: 32px;
}
.register-page main .right form .form-row .form-group {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 11px;
}
.register-page main .right form .form-row .form-group label {
  font-size: 14px;
}
.register-page main .right form .form-row .form-group input, .register-page main .right form .form-row .form-group select {
  padding: 15px 10px;
  flex: 1;
  width: 100%;
  height: 47px;
  border: 1px solid white;
  font-size: 14px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.1);
  outline: none;
}
.register-page main .right form .form-row .form-group input ::-moz-placeholder, .register-page main .right form .form-row .form-group select ::-moz-placeholder {
  color: rgba(255, 255, 255, 0.25);
}
.register-page main .right form .form-row .form-group input ::placeholder, .register-page main .right form .form-row .form-group select ::placeholder {
  color: rgba(255, 255, 255, 0.25);
}
.register-page main .right form .form-row .form-group select {
  padding-right: 30px;
  position: relative;
  color: grey;
}
.register-page main .right form .form-row .form-group select ::after {
  content: "▼";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: white;
  pointer-events: none;
}
.register-page main .right form p {
  color: #ff26b9;
  font-style: italic;
  font-size: 12px;
}
.register-page main .right form .checker-row {
  display: flex;
  gap: 10px;
}
.register-page main .right form .checker-row p {
  color: white;
  font-style: normal;
}
.register-page main .right form button {
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  color: white;
  background: linear-gradient(to right, var(--lailacPurple), var(--lightPurple));
  border-radius: 4px;
}

@media (min-width: 769px) and (max-width: 1150px) {
  .register-page {
    padding: 30px 50px;
  }
  .register-page .toplensflare {
    position: absolute;
    top: 10%;
    left: -25%;
  }
  .register-page .bottomlensflare {
    position: absolute;
    bottom: -30%;
    right: -20%;
    z-index: 1;
  }
  .register-page main {
    gap: 60px;
  }
  .register-page main .left {
    flex: none;
    width: 35%;
    justify-content: center;
    display: flex;
  }
  .register-page main .left img {
    width: 291px;
    height: auto;
  }
  .register-page main .right {
    width: 55%;
  }
  .register-page main .right form {
    padding: 45px 42px;
    gap: 15px;
  }
}
@media screen and (max-width: 768px) {
  .register-page {
    padding: 30px 45px;
  }
  .register-page .toplensflare {
    top: 20%;
    left: -30%;
    transform: scale(0.8);
  }
  .register-page .bottomlensflare {
    display: none;
    position: absolute;
    bottom: -30%;
    right: -20%;
    z-index: 1;
  }
  .register-page .modal {
    padding-left: 36px;
    padding-right: 36px;
  }
  .register-page main {
    flex-direction: column;
    gap: 20px;
  }
  .register-page main .left {
    width: 100%;
    height: auto;
  }
  .register-page main .right {
    width: 100%;
  }
  .register-page main .right form {
    padding: 0;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    flex-direction: column;
    gap: 18px;
    color: white;
  }
  .register-page main .right form h3 {
    display: none;
  }
  .register-page main .right form .header .uppertext {
    display: flex;
    align-items: center;
  }
  .register-page main .right form .header .uppertext span {
    font-size: 12px;
    margin-top: 15px;
    text-wrap: nowrap;
  }
  .register-page main .right form .header .uppertext img {
    width: 90px;
    height: auto;
  }
  .register-page main .right form .form-row {
    flex-direction: column;
    gap: 18px;
  }
  .register-page main .right form .select-group {
    flex-direction: row;
    gap: 10px;
    width: inherit;
  }
  .register-page main .right form .select-group .form-group {
    flex: 1;
  }
  .register-page main .right form .select-group .form-group select {
    width: 100%;
  }
  .register-page main .right form button {
    width: 172px;
    height: 53;
    margin-left: auto;
    margin-right: auto;
  }
}/*# sourceMappingURL=RegisterPage.css.map */