:root {
    --mainPurple: #150e28;
    --lightPurple: #903aff;
    --lailacPurple: #d434fe;
  }
.success-modal{
    color: white;
    width: 519px;
    height: 564px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    // padding: 34px 54px;
    border-radius: 5px;
    border: 1px solid var(--lailacPurple);
    gap: 10px;
    h3{
        text-align: center;
    }
    .group{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    p{
        text-align: center;
        display: flex;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        span{
            img{
                margin-left: 5px;
            }
        }
    }

    button{
                 height: 53px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: none;
                width: 80%;
                cursor: pointer;
                color: white;
                background: linear-gradient(to right, var(--lailacPurple), var(--lightPurple));
                border-radius: 4px;
    }

    .successgreystar, .successlailacstar,.successlightpurplestar{
        position: absolute;
    }
    .successlailacstar{
        right: 20px;
        bottom: 20px;

    }
    .successgreystar{
           left: 50px;
           top: 50%;
    }
    .successlightpurplestar{
        right: -20px;
        top: -20px;
        width: 20px;
        height: auto;
    }

}

@media screen and (max-width: 768px) {

    .success-modal{
        padding: 28px 35px;
        height: fit-content;
        
        .congratulations{
            width: 80%;
            height: auto;
        }

        .successgreystar, .successlailacstar,.successlightpurplestar{
            width: 20px;
            height: auto;
        }
    }
    
}