@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* font-family: 'Montserrat', sans-serif;
font-family: 'Work Sans', sans-serif; */
@font-face {
  font-family: 'ClashDisplayBold'; 
  src: url("/public/classDisplayFont/OTF/ClashDisplay-Bold.otf"); 
}

@font-face {
  font-family: 'ClashDisplaySemiBold'; 
  src: url("/public/classDisplayFont/OTF/ClashDisplay-Semibold.otf"); 
}

*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  transition: .3s ease;
}


/* colors and styles default */
:root{
 

  --mainPurple: #150e28;
  --lightPurple: #903aff;
  --lailacPurple: #d434fe;

}

/* default styles */
html{
  font-size:90%;
}



a{
  text-decoration: none;
}
li{
  list-style: none;
}

.firstlensflare,.smalllensflare, .secondlensflare, .lailacstar, .lightpurplestar, .outlinestar, .greystar, .whitestar{
  position: absolute;
}

.firstlensflare{
  top: 0;
  left: 0;
  opacity: .6;
}
.smalllensflare{
  display: none;
}

.secondlensflare{
  right: 0;
  transform: scaleX(-1);
  top: 332px;
  opacity: .6;
}
.lailacstar{
  top: 251px;
  left: 20%;
}
.greystar{
  top: 167px;
  right: 10%;
}
.outlinestar{
  top: 462px;
  left: 35%;
}
.lightpurplestar{
  top: 698px;
  left: 45%;
  z-index: 99;
}
.whitestar{
  top: 750px;
  right: 5%;

}

@media screen and (max-width: 768px) {
  .secondlensflare{
    display: none;
  }
  .firstlensflare{
   
    width: inherit;
    height: auto;
  }
  .smalllensflare{
    display: block;
    top: 0px;
    left: 0;
    width: 320px;
    height: 320px;
    
  }
  .lailacstar{
    top: 61px;
    left: 60%;
    width: 10px;
    height: 10px;
  }
  .greystar{
    top: 120px;
    right: 10%;
    width: 20px;
    height: 20px;
  }
  .lightpurplestar{
    top: 600px;
    left: 3%;
    width: 20px;
    height: 20px;
    z-index: 99;
  }
  .whitestar{
    top: 500px;
    right: 5%;
    width: 20px;
    height: 20px;
  
  }
  .outlinestar{
    display: none;
  }
}




