:root {
    --mainPurple: #150e28;
    --lightPurple: #903aff;
    --lailacPurple: #d434fe;
  }
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,700;1,900&family=Unica+One&display=swap');
  
  @font-face {
    font-family: "ClashDisplayBold";
    src: url("/public/classDisplayFont/OTF/ClashDisplay-Bold.otf");
  }
  
  @font-face {
    font-family: "ClashDisplaySemiBold";
    src: url("/public/classDisplayFont/OTF/ClashDisplay-Semibold.otf");
  }
  @font-face {
    font-family: "ClashDisplayregular";
    src: url("/public/classDisplayFont/OTF/ClashDisplay-Regular.otf");
  }
  
  .home-page {
   
    width: 100%;
    min-height: 982px;
    
    position: relative;
    overflow-x: hidden;

    .main-top-lens-flare{
        position: absolute;
        top: -100px;
        left: -5%;
        z-index: -1;
        width: 70%;
        
        opacity: .6;
       
        
        
    }
   
    .lailac{
        color: var(--lailacPurple)
    }
    .lightpurple{
        color: var(--lightPurple);
    }

    .navdiv{
        padding: 30px 128px;
      
        
        z-index: 999;
    }

   

    main{
        z-index: 999;














        

        .hero{
            padding: 30px 128px;
            border-top: 1px solid grey;
            border-bottom: 1px solid grey;
            padding-bottom: 0;
            padding-right: 0;
            display: flex;
            align-items: center;
            

            .left{
                color: white;
                font-family: "Montserrat", sans-serif;
                width: 35%;
           
                z-index: 99;
                position: relative;

                

                .whitestar{
                    position: absolute;
                    top: -10%;
                    left: 3%;
                }
                .greystar1{
                    position: absolute;
                    top: 0;
                    right: -50%;

                }
                .greystar2{
                    position: absolute;
                    bottom: 10%;
                    right: 3%;
                }
                .small-header-only{
                    display: none;
                }

                .header-image{
                    width: 150%;
                    
                }

                .header{
                    display: flex;
                    flex-direction: column;
                    display: none;
                    
                    position: relative;
                    h1{
                        font-family: ClashDisplayBold;
                        font-size: 58px;
                        

                    }

                    img{
                        width: 50px;
                        height: auto;
                        position: absolute;
                    }
                    .creativeimg{
                        top: -60px;
                        right: 40px;
                        width: 60px;
                    }
                    .boomimg{
                        top: 50px;
                        right: -120px;
                        width: 86px;
                        height: auto;
                    }
                    .chainimg{
                        top: 50px;
                        right: -40px;
                        width: 86px;
                        height: auto;
                    }

                }

                p{
                    font-family: "Montserrat", sans-serif;
                }

                button{
                    width: 172px;
                    height: 53px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: none;
                    cursor: pointer;
                    border-radius: 4px;
                    margin-bottom: 77px;
                    margin-top: 41px;
                    color: white;
                    background: linear-gradient(to right,var(--lailacPurple), var(--lightPurple));
                }
                .countdown{
                    display: flex;
                    gap: 20px;
                    
                    .time{
                        font-family: 'Unica One', cursive;

                        .value{
                            font-size: 50px;
                            font-family: 'Unica One', cursive;

                        }
                       

                        .unit{
                            font-size:10px ;
                        }
                    }
                }
               
            }

            .right{
                width: 70%;
                display: flex;
                flex-direction: column;
                align-items: center;
                position: relative;

                .lens-flare{
                    position: absolute;
                    width: 80%;
                    height: auto;
                    left: 20%;
                    top: 30px;
                    

                }
                .hero-img{
                    width: 100%;
                    height: auto;
                }

                .header{
                    text-align: center;
                    color: white;
                    font-family: "Montserrat", sans-serif;
                    font-style: italic;
                    font-weight: 700;
                    
                    position: relative;
                    width: fit-content;


                    h3{
                        font-size:clamp(15px, 2vw, 30px);
                        text-wrap: nowrap;
                    }
                    
                   
                    .stroke-img{
                        position: absolute;
                        width: 37%;
                        right: 0;
                        bottom: -10px;
                    }
                }

            }

        }




        // introductions section
















        .introduction{
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: "Montserrat", sans-serif;
            padding: 100px 128px;
            gap: 100px;
            border-bottom: 1px solid grey;

            h2,h4{
                font-family: ClashDisplayBold;
                font-size: 35px;
                letter-spacing: 2px;
            }

            h4{
                color: var(--lailacPurple);
            }


            .left{
                flex: 1;
                position: relative;

                p{
                    line-height: 30px;
                    margin-top:16px ;
                    letter-spacing: 1px;
                }

                .star-img{
                    position: absolute;
                    left: -30px;
                    top: 40%;
                }
                .arrow-img{
                    position: absolute;
                    right: -30px;
                    bottom: 0;

                }
                .character-img{
                    width: 100%;
                    height: auto;
                }
                .greystar-img{
                    position: absolute;
                    left: 50%;
                    top: 0;

                }
                .toplensflare{
                    position: absolute;
                    top: -120%;
                    width: 130%;
                    height: auto;
                    opacity: .6;
                }
                .whitestar-img{
                    position: absolute;
                    right: -5%;
                    bottom: 10%;

                }
                .bottomlensflare{
                    position: absolute;
                    left: -20%;
                    width: 130%;
                    bottom: -80%;
                    opacity: .6;
                }
                .judgelightpurplestar-img{
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                .judgegreystar-img{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    display: none;

                }

                .judgewhitestar-img{
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    display: none;

                }
                .questions{
                    width: 100%;
                    margin-top: 30px;
                    display: flex;
                    gap: 5px;
                    flex-direction: column;
                    gap: 20px;
                    
                    .question-card{
                        display: flex;
                        cursor: pointer;
                        justify-content: space-between;
                        align-items: center;
                        border-bottom: 1px solid var(--lailacPurple);
                        padding-bottom: 15px;
                        padding-right: 10px;
                        .plus-icon{
                            font-size: 30px;
                        }
                    }
                }
                .frequentlystar{
                    position: absolute;
                    top: -50px;
                    left: -30px;
                }


            }
            .right{
                flex: 1;
                position: relative;

                .character-img{
                    width: 100%;
                    height: auto;
                }
                .star-img{
                    position:absolute;
                    top: 30px;
                    right: 0;
                }
                p{
                    line-height: 30px;
                    margin-top:16px ;
                    // letter-spacing: 1px;
                }
                button {
                    width: 172px;
                    height: 53px;
                    cursor: pointer;
                    border-radius: 4px;
                    border: none;
                    color: white;
                    margin-top: 15px;
                    background: linear-gradient(
                      to right,
                      var(--lailacPurple),
                      var(--lightPurple)
                    );
                  }
                .bottomlensflare{
                    position: absolute;
                    bottom: -70%;
                    width: 130%;
                    right: -100%;
                    height: auto;
                    opacity: .6;
                    z-index: -1;
                }



              
            }
        }




         .timeline{
            padding: 72px 128px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            position: relative;

            .lailacstar, .greystar, .whitestar{
                position: absolute;
                z-index: -1;
            }

            .lailacstar{
                left: 20%;
                top: 15%;
            }
            .greystar{
                left: 10%;
                top: 90%;
            }
            .whitestar{
                left: 80%;
                top: 50%;
            }

            .header{
                display:flex;
                flex-direction: column;
                color: white;
                align-items: center;
                gap: 10px;
                margin-bottom: 80px;


                h2{
                    font-family: ClashDisplayBold;
                    font-size: 40px;
                }
                p{
                    width: 50%;
                    text-align: center;
                }

            }

            .timeline-row{
                display: flex;
                align-items: flex-end;
                gap: 30px;
                color: white;

                p{
                    line-height: 30px;
                }
                .mobile-only{
                    display: none;
                }
                h3{
                    color: var(--lailacPurple);
                    font-size: 24px;

                }

                .left{
                    flex: 3;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    gap: 10px;
                    p{
                        text-align: end;
                    }
                    h3{
                        text-align: end;
                    }

                }

                .right{
                    flex: 3;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 10px;
                    p{
                        text-align: start;
                    }
                    h3{
                        text-align: start;
                    }

                }



                .center{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    align-items: center;
                    
                    .stroke{
                        height: 137px;
                        width: 2px;
                        background: var(--lailacPurple);
                    }
                    .circle{
                        width: 53px;
                        height: 53px;
                        border-radius: 50%;
                        font-size:24px;
                        font-weight: 500;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: linear-gradient(to right,var(--lailacPurple), var(--lightPurple));



                    }

                }
            }
         }














        .prizes-section{
            position: relative;
            background: #0b061a;
            padding-top: 100px;
            
            .cuplensflare, .lensflaremedal{
                position: absolute;
                width: 60%;
                height: auto;
                opacity: .6;
                
            }
            .cuplensflare{
                left: 5%;
            }
            .lensflaremedal{
                right: -30%;
                top: 30%;
            }

            .left{
                position: relative;
                flex: 1;



                .cup-header{
                    display: none;
                }

                .cuplailacstar, .cupwhitestar{
                    position: absolute;
                    left: 60%;
                    z-index: 1;
                }
                .cuplailacstar{
                    left: 30%;
                    top: -20%;
                }
                .cupwhitestar{
                    bottom: -10%;
                    left: 40%;
                }
            }

            .right{
                flex: 1;

                .cup-header{
                    position: relative;

                    p{
                        margin-top: 0;
                        margin-bottom: 50px;
                    }

                    .cuplailacstar{
                        position: absolute;
                        top: 60%;
                        right: 40%;
                        z-index: -1;
                    }
                }
                

                .medal-collection{
                    width: 100%;
                    position: relative;

                    .prizesimg{
                        width: 100%;
                    }
                }
               

                .whitestarmedalfirst, .whitestarmedalsecond, .greystarmedalfirst{
                    position: absolute;
                }

                .whitestarmedalfirst{
                    top: -1%;
                    left: 10%;
                }
                .whitestarmedalsecond{
                    right: -1%;
                    top: 60%;
                }
                .greystarmedalfirst{
                    bottom: -10%;
                    right: 30%;
                }
            }
        }



















        .partners{
            flex-direction: column;
            align-items: center;
            padding-top: 100px;
            padding-bottom: 100px;
            position: relative;

            .cuplensflare, .lensflaremedal{
                position: absolute;
                z-index: -1;
                width: 80%;
                height: auto;
            }
            .cuplensflare{
                top: -30%;
                left: -10%;
            }
            .lensflaremedal{
                top: 20%;
                left: 60%;
            }
            gap: 10px;
            p{
                text-align: center;
            }

            .sponsors-wrapper{
                display: flex;
                justify-content: center;
                margin-top: 50px;
                 img{
                    width: 80%;
                    
                 }
            }
        }



















        .privacy{
            position: relative;

            .greystar, .lailacstar, .lightpurplestar, .centrelensflare{
                position: absolute;
                z-index: -1;
                opacity: .6;
            }
            .greystar{
                top: 10%;
                left: 40%;
            }
            .lightpurplestar{
                top: 20%;
                left: 50%;
            }
            .lailacstar{
                top: 70%;
                left: 6%;
            }
            .centrelensflare{
                left: -20%;
                top: 50%;
                
            }
            
            .left{

                .details-wrapper{
                    border: 1px solid #d434fe;
                    border-radius:8px ;
                    background-color: #ffffff07;
                    padding: 59px 72px;
                    margin-top: 50px;

                    .listing{
                        display: flex;
                        align-items: flex-start;
                        margin-top: 10px;
                        p{
                            margin-top: 0;
                            line-height: 25px;
                        }
                        img{
                            width: 17px;
                            height: 17px;
                            margin-top: 5px;
                            margin-right: 10px;
                        }
                    }
                    .button-wrapper{
                        display: flex;
                        align-items: center;
                            button{
                                width: 172px;
                                height: 53px;
                                cursor: pointer;
                                border-radius: 4px;
                                border: none;
                                color: white;
                                margin-top: 15px;
                                margin-left: auto;
                                margin-right: auto;
                                background: linear-gradient(
                                to right,
                                var(--lailacPurple),
                                var(--lightPurple)
                                );

                            }
                }
                }

            }
            .right{
                img{
                    width: 100%;
                    height: auto;
                }
            }
        }








        .footer{
            background: #0b061aa1;
            align-items: flex-start;
            border-bottom: none;
            gap: 60px;

            .left{
                flex: 3;
                position: relative;

                .lailacstar{
                    position: absolute;
                    left: 80%;
                    top: 100%;
                }
               .footerwhitestar{
                position: absolute;
                left: -10%;
                top: 10%;
                width: 15px;
                height: auto;
               }

                .termsofuse{
                    margin-top: 80px;
                    display: flex;
                    align-items: center;

                    .lailacstroke{
                        width: 3px !important;
                        height: 30px;
                        background: var(--lailacPurple);
                        margin-left: 10px;
                        margin-right: 10px;

                    }
                    a{
                        color: white;
                    }
                }
            }

            .right{
                position: relative;

                .greystar{
                    position: absolute;
                    top: 0;
                    right: 0;
                    z-index: -1;

                }
                .whitestar{
                    position: absolute;
                    bottom: 0;
                    top: 100%;
                    width: 18px;
                    height: auto;
                    z-index: -1;
                }
                a{
                    color: white;
                }
                .follow{
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    p{
                        margin-top: 5px;
                    }
                    .lailac{
                        text-wrap: nowrap;
                    }

                    .logos{
                        display: flex;
                        align-items: center;
                        gap: 15px;
                    }
                }

                .links{
                    a{
                        display: flex;
                         gap: 10px;
                         align-items: flex-start;

                         img{
                            width: 12px;
                            height: 12px;
                            margin-top: 10px;
                         }
                    }
                   
                }
            }
        }


        .allright{
            background:#0b061aa1; 
            p{
                text-align: center;
                color: white;
            
                padding-bottom: 30px;
            }
        }

       
    }
  }

  @media (min-width: 769px) and (max-width: 1150px) {
    .home-page{

        
       

        .navdiv{
            padding: 30px 50px;
        }
        main{

            .hero{
                padding: 30px 50px;
                padding-right: 0;
                padding-bottom: 0;
                .left{
                    .main-top-lens-flare{
                        position: absolute;
                        top: -30%;
                        // width: 150%;
                        // height: auto;
                        left: -5%;
                        z-index: 1;
                        
                        opacity: .6;
                       
                        
                        
                    }
                }
            }
            .introduction{
                padding: 100px 50px;

            }
            .partners{
                padding-top: 100px;
                padding-bottom: 100px;
            }

            .prizes-section{
                padding-top: 100px;
                padding-bottom: 100px;
            }
            .privacy{
                .left{
                    .details-wrapper{
                        padding: 30px;
                    }
                }
            }

        }
       
    }
}

  @media screen and (max-width: 768px) {
    .home-page{

        .main-top-lens-flare{
           
            top: 10px;

            left: -5%;
            z-index: -1;
            width: 100%;
            
            opacity: .6;
           
            
            
        }
        .navdiv{
                padding: 30px 45px ;
            }
        main{

            
            .hero{
                flex-direction: column;
                align-items: flex-start;
                padding: 30px 0;
                padding-bottom: 0;
                row-gap: 30px;

                .left{
                    // align-items: center;
                    width: inherit;
                    display: flex;
                    flex-direction: column;
                    padding: 30px 45px;

                   
                    .main-top-lens-flare{
                        position: absolute;
                        top: 10px;
                        // width: 150%;
                        // height: auto;
                        left: -5%;
                        z-index: 1;
                        
                        opacity: .6;
                       
                        
                        
                    }

                    .whitestar{
                        position: absolute;
                        top: 0%;
                        left: 3%;
                    }
                    .greystar1{
                        position: absolute;
                        top: 10px;
                        right: 3%;
    
                    }
                    .greystar2{
                        position: absolute;
                        bottom: 0;
                        right: 3%;
                    }

                    .small-header-wrapper{
                        width: fit-content;
                        


                        .small-header-only{
                            display: block;
                            position: relative;
                            
                        
                                h3{
                                    width: 100%;
                                    font-size: clamp(10px, 4vw, 40px);
                                    text-wrap: nowrap;
                                }
                                .stroke-img{
                                    width: 40%;
                                    bottom: -10px;
                                    position: absolute;
                                    right: 0px;
                                
                            }
                        }
                   }

                   .header-image{
                    width: 100%;
                    margin-top: 40px;
                   }
                   p{
                    text-align: center;
                   }

                    button{
                        margin-bottom: 37px;
                        margin-top: 21px;
                        margin-left: auto;
                        margin-right: auto;
                    }
                    .countdown{
                        justify-content: center;
                    }
                }
                .right{
                    width: inherit;

                    .header{
                       display: none;
                    }
                    
                }
            }







            .introduction{
                flex-direction: column;
                padding: 60px 45px;
                gap: 30px;

                h2,h4{
                    font-size: clamp(15px, 4vw, 30px);
                    text-align: center;
                }
                .left{
                    width: 100%;
                    .greystar-img{
                        left: 0;
                        top: -120%;
                    }
                     .star-img{
                        left: 0;

                        
                     }
                     .arrow-img{
                        right: 50%;
                        bottom: -20px;
                        width: 30px;
                        height: auto;
                     }
                    p{
                        text-align: center;
                    }
                }
                .right{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    p{
                        text-align: center;
                    }
                    button {
                        margin-left: auto;
                        text-align: center;
                        margin-right: auto;
                      }
                }
                


            }






            .introduction-reverse{
                flex-direction: column-reverse;
            }



            .timeline{
                gap: 30px;
                padding: 60px 45px;
                .header{
                    margin-bottom: 30px;
                    p{
                        width: 100%;

                    }
                }
                .timeline-row{
                    gap: 20px;
                    .large-screen-only{
                        display: none;
                    }
                    h3{
                        font-size: clamp(15px, 4vw, 25px);
                    }

                    P{
                        font-size: 14px;
                        line-height: 20px;
                    }

                    .mobile-only{
                        display: block;
                    }
                    .right{
                        padding-bottom: 5px;
                    }

                    .center{
                        .circle{
                            width: 30px;
                            height: 30px;
                        }
                        .stroke{
                            height: 100px;
                        }
                    }

                }
                
            }





            .prizes-section{

                .cuplensflare, .lensflaremedal{
                    width: 80%;
                    height: auto;
                }
                .cuplensflare{
                    top:-5%;
                    left: -20%;
                }
                .lensflaremedal{
                    top: 70%;
                    width: 100%;
                    left: 60%;
                }

                .left{
                    .cup-header{
                        display: flex;
                        flex-direction: column;
                    }
                }

                .right{
                    margin-top: 70px;
                    .cup-header{
                        display: none;
                    }
                }
            }





            .partners{
                gap: 0;
            }



            .privacy{
                gap: 100px;
                .centrelensflare{
                    top: 10%;
                    left: -30%;
                    width: 90%;
                    height: auto;
                }
                .left{
                    .details-wrapper{
                        padding: 30px;
                    }
                }
            }



            .footer{
                gap:20px;
                .left{
                    p{
                        text-align: left;
                    }
                    .termsofuse{
                        margin-top: 30px;
                    }

                }
                .right{
                    p{
                        text-align: left;
                    }
                    .follow{
                        flex-wrap: wrap;
                    }
                }
               
            }
          
        }
    }
  }

  @media screen and (max-width:350px) {

    .home-page{
        main{
            .timeline{
                .timeline-row{
                   
                    display: flex;
                    .right{
                       
                        height: 140px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                       h3{
                        font-size: 9px;
                       }
                       p{
                        font-size: 9px;
                       }
                       
                    }

                   
                   
                }
            }
        }
    }
    
  }