:root{
 
    --mainPurple: #150e28;
    --lightPurple: #903aff;
    --lailacPurple: #d434fe;
  
  }

  @font-face {
    font-family: 'ClashDisplaySemiBold'; 
    src: url("/public/classDisplayFont/OTF/ClashDisplay-Semibold.otf"); 
  }
  
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
  
 

    .mobile-left{
        display: none;
    }
    .right{
        display: flex;
        column-gap: 122px;
        align-items: center;
        ul{
            display: flex;
            column-gap: 58px;
            li{
                color: white;
                a{
                    color: white;
                }
                .gradient-text {
                    background: linear-gradient(to right, var(--lailacPurple), var(--lightPurple)); 
                    -webkit-background-clip: text; 
                    background-clip: text; 
                    color: transparent; 
                    
                  }
            }
        }
        button{
            width: 172px;
            height: 53px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            border-radius: 4px;
            color: white;
            background: linear-gradient(to right,var(--lailacPurple), var(--lightPurple));
             a{
                color: white;
             }
        }
        .register-button-border{
            display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            background: none; 
            color: #fff; 
            border-width: 3px; 
            border-image: linear-gradient(to top, var(--lailacPurple),var(--lightPurple)); /* Gradient border colors */
            border-image-slice: 1; 
            border-image-width: 3; 
            border-image-outset: 0; 
            border-image-repeat: stretch; 
            cursor: pointer;
            text-decoration: none;
            transition: background-color 0.3s, border-image 0.3s;
        }




       
    }
   
}

@media (min-width: 769px) and (max-width: 1150px) {
    .nav{
       
        .right{
            column-gap: 30px;
            ul{
                column-gap: 20px;
            }
        }
    }


}

@media screen and (max-width: 768px) {

    .nav{
        flex-direction: column;
        width: 100%;
       
        row-gap: 63px;
        align-items: flex-start;

        .no-small-display{
            display: none;
        }
      
        .large-screen-left{
            display: none;
        }
        .mobile-left{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width:inherit ;

            .nav-control{
                img{
                    cursor: pointer;
                }
              
            }
            .register-header{
                color: var(--lailacPurple);
                font-family: ClashDisplaySemiBold;
                letter-spacing: 3px;
            }
          
        }

        .right{
            flex-direction: column;
            align-items: flex-start;
            row-gap: 29px;
            ul{
                flex-direction: column;
                row-gap: 20px;
            }
        }
    }
    
}