@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --mainPurple: #150e28;
  --lightPurple: #903aff;
  --lailacPurple: #d434fe;
}

@font-face {
  font-family: "ClashDisplayBold";
  src: url("/public/classDisplayFont/OTF/ClashDisplay-Bold.otf");
}
@font-face {
  font-family: "ClashDisplaySemiBold";
  src: url("/public/classDisplayFont/OTF/ClashDisplay-Semibold.otf");
}
@font-face {
  font-family: "ClashDisplayregular";
  src: url("/public/classDisplayFont/OTF/ClashDisplay-Regular.otf");
}
.contact-page {
  width: 100%;
  height: 982px;
  overflow-x: hidden;
  padding: 30px 128px;
  padding-bottom: 0px;
  position: relative;
}
.contact-page .bottomlensflare {
  position: absolute;
  top: 35%;
  right: -20%;
  width: 50%;
  height: auto;
  z-index: 1;
}
.contact-page main {
  display: flex;
  width: inherit;
  margin-top: 140px;
  justify-content: space-between;
  color: white;
  margin-top: 140px;
  align-items: center;
}
.contact-page main h3,
.contact-page main h5,
.contact-page main h4 {
  color: var(--lailacPurple);
  font-family: ClashDisplayregular;
}
.contact-page main .mobile-sm-link {
  display: none;
}
.contact-page main .left {
  display: flex;
  flex-direction: column;
  row-gap: 17px;
  width: 35%;
}
.contact-page main .left h3 {
  font-size: 32px;
}
.contact-page main .left p {
  font-size: 16px;
}
.contact-page main .left h5 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  margin-top: 40px;
}
.contact-page main .left .social-media {
  display: flex;
  gap: 16px;
  align-items: center;
}
.contact-page main .right {
  width: 50%;
}
.contact-page main .right form {
  width: 100%;
  height: 611px;
  padding: 75px 92px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.05);
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  row-gap: 25px;
}
.contact-page main .right form .mobile-only {
  display: none;
}
.contact-page main .right form input,
.contact-page main .right form textarea {
  outline: none;
  padding: 10px 24px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.05);
  color: white;
  border: 1px solid white;
}
.contact-page main .right form input::-moz-placeholder, .contact-page main .right form textarea::-moz-placeholder {
  color: white;
}
.contact-page main .right form input::placeholder, .contact-page main .right form textarea::placeholder {
  color: white;
}
.contact-page main .right form h4 {
  font-size: 20px;
  line-height: 27px;
}
.contact-page main .right form input {
  height: 47px;
  color: white;
}
.contact-page main .right form textarea {
  height: 119px;
  resize: none;
}
.contact-page main .right form .button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-page main .right form .button-wrapper button {
  width: 172px;
  height: 53px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  color: white;
  background: linear-gradient(to right, var(--lailacPurple), var(--lightPurple));
}

@media (min-width: 769px) and (max-width: 1150px) {
  .contact-page {
    padding: 30px 50px;
    overflow-y: scroll;
  }
  .contact-page .toplensflare {
    position: absolute;
    top: 0;
    left: -25%;
  }
  .contact-page .bottomlensflare {
    position: absolute;
    bottom: -30%;
    right: -20%;
    z-index: 1;
  }
  .contact-page main {
    gap: 20px;
  }
  .contact-page main .right form {
    padding: 45px 42px;
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .contact-page {
    padding: 47px 51px;
    height: 844px !important;
    position: relative;
  }
  .contact-page .toplensflare {
    top: -50%;
    z-index: -1;
  }
  .contact-page .bottomlensflare {
    display: none;
  }
  .contact-page main {
    flex-direction: column;
    width: inherit;
    margin-top: 41px !important;
  }
  .contact-page main .mobile-sm-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 41px;
    row-gap: 10px;
  }
  .contact-page main .mobile-sm-link .social-media {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .contact-page main .left {
    display: none;
  }
  .contact-page main .right {
    width: inherit;
  }
  .contact-page main .right form {
    width: inherit;
    height: auto;
    padding: 0;
    background: none;
  }
  .contact-page main .right form input, .contact-page main .right form textarea {
    background: rgba(255, 255, 255, 0.02);
  }
  .contact-page main .right form .mobile-only {
    display: block;
  }
}/*# sourceMappingURL=ContactPage.css.map */